<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxchen.libfilepiker" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".activity.SelectFileByBrowserActivity" />
        <activity android:name=".activity.SelectFileByScanActivity" />
        <activity android:name=".activity.SelectPictureActivity" />
    </application>
</manifest>
